.my-mfp-zoom-in .mfp-anim { opacity: 0; transform: scale(0.75); transition: transform .3s .45s ease-in-out, opacity .3s .45s ease-in-out; }

.not_delay .my-mfp-zoom-in .mfp-anim,
.my-mfp-zoom-in .mfp-anim.not_delay { animation-delay: 0s !important; transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out; }

.my-mfp-zoom-in.mfp-ready .mfp-anim { opacity: 1; transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .mfp-anim { transform: scale(0.75); opacity: 0; }

.mfp-bg { opacity: 0; transform: scale(0.92); transition: transform .5s, opacity .5s; }

.mfp-bg.mfp-ready { transform: scale(1); opacity: 0.7; }

.mfp-removing.mfp-bg { opacity: 0; }

.mfp-wrap {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
  overflow: hidden auto!important;
}

.mfp-bg {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
}

.page-wrapper {
  padding-top: 60px;
  padding-bottom: 80px;
}

.ui-label {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
  color: #253237;

  // &.small {
  //   margin-bottom: 8px;
  // }
}

.calendar {
  position: relative;

  .ui-input {
    padding-left: 38px;
    padding-right: 8px;
  }

  img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    cursor: pointer;
    // background: url("../images/icon-date.svg");
    // background-repeat: no-repeat;
    // width: 21px;
    // height: 21px;
  }
}

.ui-input {
  display: block;
  height: 48px;
  line-height: 46px;
  border: 1px solid #D9E0E4;
  width: 100%;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  padding: 0 16px;
  // color: #A3A8BA;

  // line-height: 1;

  &:focus {
    border-color: #4fb1eb;
    // color: #000;
  }

  &::placeholder {
    color: #A3A8BA;
  }

  // &.small {
  //   height: 48px;
  //   line-height: 46px;
  // }
}

textarea.ui-input {
  height: auto !important;
  line-height: 1.2 !important;
  padding: 16px !important;
  resize: none;
}

.ui-select {
  font-family: "Ubuntu", sans-serif;
  line-height: 46px;
  padding: 0;
  margin: 0;
  cursor: pointer;


  &__transparent {   
 
    & + .jq-selectbox__select {
      display: block;
      height: 48px;
      line-height: 46px;
      border: 1px solid #D9E0E4;
      width: 100%;
      background-color: transparent;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      border-radius: 3px;
      outline: none; 
    }

    .jq-selectbox__dropdown {

      li {
        cursor: pointer;
        transition:  background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #40A6E2;
          color: #fff;
        }        
      }

      .disabled {
        display: none;
      }
     
      .selected {
        background-color: #40A6E2;
        color: #fff;
      }
      
    }
  }

  &.disabled {   
    color: #A3A8BA;
    cursor: not-allowed;
  }
}

.jq-selectbox__select-text.placeholder {
  color: transparent;
}

.jq-selectbox__select-text {
  padding: 0 16px;
}

.jq-selectbox__dropdown {
  // width: 100% !important;
  left: 0 !important;
  min-width: 100% !important;
  width: auto !important;
  max-width: 300px !important;

  ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

// .jq-selectbox__select {
//   position: relative !important;
//   width: 100% !important;
//   height: 100% !important;
//   left: 0 !important;
//   top: 0 !important;
// }

.jq-selectbox__dropdown ul {
  background: #fff !important;
  border: 1px solid #d9e0e4 !important;
}

.jq-selectbox__dropdown li {
  border-bottom: 1px solid #d9e0e4 !important;
  padding: 16px;
  line-height: 1;

  &:last-child {
    border-bottom: none !important;
  }
}

.jq-selectbox__trigger-arrow {
  position: absolute !important;
  right: 10px !important;
  top: 54% !important;
  transform: translate(0, -50%) !important;
  background-image: url("../images/icon-arrow.svg") !important;
  background-repeat: no-repeat !important;
  width: 12px !important;
  height: 12px !important;
  background-size: 100%;
}

.ui-field {
  margin-bottom: 20px;
  position: relative;

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.ui-btn {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #40A6E2;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 0 40px;
  position: relative;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: color .2s ease, border-color .2s ease, background-color .2s ease;

  &.grey {
    border: 1px solid #D1D3DC;
    background-color: transparent;
    color: #A3A8BA;

    &:hover {
      border-color: #4fb1eb;
      color: #4fb1eb;
      background-color: transparent;
    }
  }

  &.blue {
    border: 1px solid #40A6E2;
    background-color: transparent;
    color: #40A6E2;
    padding-left: 55px;
    line-height: 54px;

    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 40px;
    }

    &:hover {
      border-color: #4fb1eb;
      color: #4fb1eb;
      background-color: transparent;
    }
  }

  &.red {
    border: 1px solid #FF7070;
    background-color: transparent;
    color: #FF7070;

    &:hover {
      border-color: #fa3b3b;
      color: #fa3b3b;
      background-color: transparent;
    }
  }

  &.transparent {
    border: 1px solid #40A6E2;
    background-color: transparent;
    color: #40A6E2;
    line-height: 54px;

    &:hover {
      border-color: #4fb1eb;
      color: #4fb1eb !important;
      background-color: transparent;
    }
  }

  &.small {
    line-height: 48px;
    height: 48px;
  }

  &.hidden {
    display: none;
  }

  &:hover {
    background-color: #4fb1eb;
    color: #fff !important;
  }
}

// .ui-btn {
//   border-radius: 3px;
//   background-color: #40A6E2;
//   height: 52px;
//   line-height: 52px;
//   border: none;
//   color: #fff;
//   text-align: center;
//   // max-width: 100%;
//   // width: 100%;
//   padding: 0 40px;
//   font-size: 18px;
//   font-weight: 500;
//   cursor: pointer;
//   transition: background-color .2s ease;
//   font-size: 16px;

//   &:hover {
//     background-color: #4fb1eb;
//   }

//   &.blue {
//     border: 1px solid #4fb1eb;
//     background-color: transparent;
//     color: #4fb1eb;
//     font-size: 12px;
//     padding-left: 40px;
//     position: relative;
//     line-height: 50px;
//     // line-height: 1;
//     // display: flex;
//     // align-items: center;
//     text-align: left;

//     img {
//       position: absolute;
//       top: 50%;
//       transform: translate(0, -50%);
//       left: 12px;
//     }
//   }

//   &.grey {
//     border: 1px solid #A3A8BA;
//     background-color: transparent;
//     color: #A3A8BA;
//     // font-size: 12px;
//     // padding-left: 40px;
//     // position: relative;
//     // line-height: 50px;
//     // // line-height: 1;
//     // // display: flex;
//     // // align-items: center;
//     // text-align: left;
//   }

//   &.red {
//     border: 1px solid #FF7070;
//     background-color: transparent;
//     color: #FF7070;
//     font-size: 14px;
//     font-weight: 700;
//     padding-left: 40px;
//     position: relative;
//     line-height: 50px;
//     // line-height: 1;
//     // display: flex;
//     // align-items: center;
//     text-align: left;

//     img {
//       position: absolute;
//       top: 50%;
//       transform: translate(0, -50%);
//       left: 12px;
//     }
//   }

//   &.delete {
//     padding-left: 40px;
//     position: relative;
//     // line-height: 1;
//     // display: flex;
//     // align-items: center;
//     text-align: left;

//     &::before {
//       content: '';
//       position: absolute;
//       top: 50%;
//       transform: translate(0, -50%);
//       left: 12px;
//       background-image: url("../images/icon-delete.svg");
//       width: 20px;
//       height: 20px;
//     }
//   }

//   &.small {
//     font-size: 14px;
//     height: 48px;
//     line-height: 46px;
//     max-width: none;
//     width: auto;
//     padding: 0 34px;
//   }

//   &.hidden {
//     display: none;
//   }
// }

.ui-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 744px;
  max-width: calc(100% - 456px);
  width: 100%;

  &.full-width {
    max-width: none;
  }
}

.white-block {
  background-color: #fff;
  margin-bottom: 40px;
  padding-bottom: 40px;
  width: 100%;
  flex: 0 0 100%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &.big {
    // max-width: 744px;
    max-width: calc(100% - 456px);
    flex: 0 0 calc(100% - 456px);
  }

  &.small {
    max-width: 436px;
    flex: 0 0 436px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 32px;
    border-bottom: 1px solid #E4EDF2;

    &.center {
      justify-content: center;
    }
  }

  &.height-100 {
    height: calc(100% - 40px);
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
    color: #253237;

    &.uppercase {
      text-transform: uppercase;
    }
  }

  &-txt {
    font-size: 16px;
    font-weight: 300;
    color: #253237;

    &.bold {
      font-weight: 500;
    }

    &.pic {
      padding-left: 24px;
      position: relative;

      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &-bottom {
    display: flex;

    @media(max-width: 1024.99px) {
      &.column {
        flex-direction: column;
      }

      &.column-reverse {
        flex-direction: column-reverse;
      }
    }
  }

  &-body {
    padding: 0 40px;
  }

  &-containers {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 152px);
    flex: 0 0 calc(100% - 152px);

  }

  &-container {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: flex-end;

    .ui-field {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-column {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    @media(max-width: 1366.99px) {
      margin-right: 0;
      padding: 0 6px;
    }

    @media(min-width: 300px) {
      &.column-ss-12 {
        max-width: 100%;
        flex: 0 0 100%;
      }

      &.column-ss-3 {
        max-width: 25%;
        flex: 0 0 25%;
      }

      &.column-ss-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
      }

      &.column-ss-6 {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    @media(min-width: 576.99px) {
      &.column-xs-12 {
        max-width: 100%;
        flex: 0 0 100%;
      }

      &.column-xs-3 {
        max-width: 25%;
        flex: 0 0 25%;
      }

      &.column-xs-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
      }

      &.column-xs-6 {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    @media(min-width: 768.99px) {
      &.column-sm-12 {
       max-width: 100%;
       flex: 0 0 100%;
      }

      &.column-sm-3 {
       max-width: 25%;
       flex: 0 0 25%;
      }

      &.column-sm-6 {
       max-width: 50%;
       flex: 0 0 50%;
      }
    }

    @media(min-width: 1366.99px) {
      &.column-1 {
        // max-width: 363px;
        // flex: 0 0 363px;

        max-width: 37.555%;
        flex: 0 0 37.555%;
      }

      &.column-2 {
        // max-width: 126px;
        // flex: 0 0 126px;

        max-width: 13.1%;
        flex: 0 0 13.1%;
      }

      &.column-3 {
        // max-width: 173px;
        // flex: 0 0 173px;

        max-width: 17.9%;
        flex: 0 0 17.9%;
      }

      &.column-4 {
        // max-width: 79px;
        // flex: 0 0 79px;

        max-width: 8.5%;
        flex: 0 0 8.5%;
      }
    }
  }
}

.input-file {
	position: relative;
	display: inline-block;
  width: 120px;
  height: 120px;
  flex: 0 0 120px;
  border-radius: 50%;
  border: 2px dashed #A3A8BA;
  background-color: #F3F4F5;
  margin-right: 32px;
  cursor: pointer;

  .preview {
    display: none;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
.input-file span {
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #A3A8BA;
  text-align: center;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.ui-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #253237;
  line-height: 1.2;
}

.ui-tooltip {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  z-index: 1;
  cursor: pointer;
  // margin-left: 4px;
  font-weight: 500;

  &-icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 16px;
    background-color: #40A6E2;
  }
  &-answer {
    position: absolute;
    left: 23px;
    top: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.08);
    border-radius: 3px;
    padding: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #253237;
    line-height: 1.375;
    transform: translate(8px, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .15s visibility, .15s opacity, .15s transform;
  }
  &:hover {
    z-index: 109;

    .ui-tooltip-icon {
      background-color: #4db1eb;
      color: #FFF;
    }
    .ui-tooltip-answer {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, -50%);
    }
  }

  @media (max-width: 768.99px) {
    position: static;

    &-answer {
      position: fixed;
      z-index: 110;
      left: 0px;
      right: 0px;
      width: auto;
      top: auto;
      bottom: 0px;
      padding: 20px 15px;
      transform: translate(0px, -15px);
      max-height: calc(100vh - 80px);
      overflow-y: auto;
      border-radius: 0;
    }

    &:hover {
      .ui-tooltip-answer {
        transform: translate(0px, 0px);
      }
    }
  }
}

span.error {
  color: #FF7070;
  font-size: 10px;
  display: block;
  margin-top: 2px;
  position: absolute;
}

.chart-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin-right: 12px;
}

.chart-item {
  display: flex;
}

.chart-text {
  font-size: 14px;
  color: #253237;
  line-height: 1.2;
}

.chart-subtitle {
  font-weight: 500;
}

.chart-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}


.ui-charts {
  &-content {
    display: flex;
    justify-content: space-between;
  }

  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E4EDF2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 100%;
    height: 1px;
    width: 40px;
    background-color: #E4EDF2;
  }

  &::before {
    content: "";
    position: absolute;
    right: -40px;
    top: 100%;
    height: 1px;
    width: 40px;
    background-color: #E4EDF2;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;

    &::after {
      content: none;
    }

    &::before {
      content: none;
    }
  }
}

.ui-doughnut {
  width: 160px !important;
  height: 160px !important;
}

.ui-charts-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #253237;
}

.ui-rating-stars {
  display: inline-block;
  line-height: 0;
  // margin-right: 5px;
}

.ui-rating-star {
  display: inline-block;
  background: url(.././images/icon-star-empty.svg);
  background-repeat: no-repeat;

  &.active {
    background: url(.././images/icon-star-full.svg);
    background-repeat: no-repeat;
  }

  &.large {
    width: 36px;
    height: 36px;
    background-size: 100%;
  }

  &.base {
    width: 28px;
    height: 28px;
    background-size: 100%;

  }

  // &.small {
  //   width: 28px;
  //   height: 28px;
  //   background-size: cover;
  // }
}

.pagination {
	font-size: 16px;
  font-weight: 500;
  color: #253237;
	display: flex;
	align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
	// justify-content: space-between;
  margin-top: 40px;

	&-next {		
		padding: 0 22px;		
		background-color: transparent;	
    height: 52px;
    line-height: 50px;
    border: 1px solid #D9E0E4;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover {
      color: #fff !important;
      background-color: #40A6E2;
      border-color: #40A6E2;
    }
	}

	&-list {
		position: relative;
		display: flex;
		align-items: center;
	  margin-right: 10px;
    margin-bottom: 0;
	}

	&-item {
		margin-right: 10px;		

		&:last-of-type {
			margin-right: 0;
		}

		&-link {
      display: block;
      text-align: center;
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      line-height: 52px;
      border: 1px solid #D9E0E4;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      &:hover {
        color: #fff !important;
        background-color: #40A6E2;
        border-color: #40A6E2;
      }

			&.active {
				color: #fff;
        background-color: #40A6E2;
        border-color: #40A6E2;
				pointer-events: none;
			}			  
		}
	}

	&-dots {
		margin-right: 12px;	
    width: 52px;
    text-align: center;
	}
}

@media(max-width: 1440.99px) {
  .ui-select {
    &__transparent {
      & + .jq-selectbox__select {
        height: 46px;
        line-height: 44px;
      }
    }
  }

  .ui-input {
    height: 46px;
    line-height: 44px;
  }

  .ui-btn, .ui-btn.small {
    height: 50px;
    line-height: 50px;

    &.blue {
      line-height: 48px;
    }
  }

  .ui-title {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .white-block {
    padding-bottom: 35px;

    &-header {
      margin-bottom: 28px;
      padding: 35px 35px 20px;

      &-title {
        font-size: 24px;
      }
    }

    &-containers {
      max-width: calc(100% - 128px);
      flex: 0 0 calc(100% - 128px);
    }
  }

  .ui-field {
    margin-bottom: 18px;
  }

  .input-file {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
    margin-right: 28px;

    span {
      font-size: 13px;
    }
  }

  .pagination {
    &-next {
      height: 50px;
      line-height: 48px;
    }

    &-item { 
  
      &-link {      
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        line-height: 48px;        	  
      }
    }
  
    &-dots {
      margin-right: 10px;	
      width: 50px;
    }
  }
}

@media(max-width: 1366.99px) {
  .ui-select {
    &__transparent {
      & + .jq-selectbox__select {
        height: 44px;
        line-height: 42px;
      }
    }
  }

  .ui-input {
    height: 44px;
    line-height: 42px;
  }

  .ui-btn, .ui-btn.small {
    height: 48px;
    line-height: 48px;

    &.blue {
      line-height: 46px;
    }
  }

  .ui-title {
    font-size: 35px;
    margin-bottom: 28px;
  }

  .white-block {
    &-container {
      margin: 0 -6px;

      .ui-field, .ui-btn {
        margin-bottom: 20px;
      }
    }
  }

  .pagination {
    &-next {
      height: 48px;
      line-height: 46px;
    }

    &-item {
      margin-right: 8px;      
  
      &-link {      
        width: 48px;
        height: 48px;
        flex: 0 0 48px;
        line-height: 46px;        	  
      }
    }
  
    &-dots {
      margin-right: 10px;	
      width: 48px;
    }
  }
}

@media(max-width: 1024.99px) {
  .ui-select {
    &__transparent {
      & + .jq-selectbox__select {
        height: 42px;
        line-height: 40px;
      }
    }
  }

  .ui-input {
    height: 42px;
    line-height: 40px;
  }

  .ui-btns {
    max-width: 100%;
  }

  .ui-charts {
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      top: 100%;
      height: 1px;
      width: 20px;
      background-color: #E4EDF2;
    }

    &::before {
      content: "";
      position: absolute;
      right: -20px;
      top: 100%;
      height: 1px;
      width: 20px;
      background-color: #E4EDF2;
    }
  }

  .ui-btn, .ui-btn.small {
    height: 45px;
    line-height: 45px;

    &.blue {
      line-height: 43px;
    }
  }

  .input-file {
    margin-right: 0;

    &.mb-20 {
      margin-bottom: 20px;
    }
  }

  .ui-title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .white-block {
    &.big {
      max-width: calc(100% - 370px);
      flex: 0 0 calc(100% - 370px);
    }

    &.small {
      max-width: 350px;
      flex: 0 0 350px;
    }

    &-title {
      font-size: 22px;
    }

    &-header {
      padding: 25px 20px;
      margin-bottom: 25px;
    }

    &-body {
      padding: 0 20px;
    }

    &-containers {
      max-width: 100%;
      flex: none;
    }
  }

  .pagination {
    &-next {
      height: 45px;
      line-height: 43px;
    }

    &-item {
      margin-right: 8px;
  
      &-link {      
        width: 45px;
        height: 45px;
        flex: 0 0 45px;
        line-height: 43px;
      }
    }
  
    &-dots {
      margin-right: 10px;	
      width: 45px;
    }
  }
}

@media(max-width: 768.99px) {
  .ui-select {
    &__transparent {
      & + .jq-selectbox__select {
        height: 40px;
        line-height: 38px;
      }
    }
  }

  .ui-input {
    height: 40px;
    line-height: 38px;
  }

  .ui-btn, .ui-btn.small {
    height: 42px;
    line-height: 42px;
    font-size: 16px;

    &.blue {
      line-height: 40px;
    }
  }

  .ui-title {
    font-size: 25px;
  }

  .white-block {
    margin-bottom: 20px;

    &.big {
      max-width: 100%;
      flex: none;
    }

    &.small {
      max-width: 100%;
      flex: none;
    }

    &-title {
      font-size: 20px;
    }

    &-list {
      flex-direction: column;
    }
  }

  .ui-charts {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

    &-content {
      margin-bottom: 20px;
    }
  }

  .pagination {
    justify-content: center;
    &-next {
      height: 42px;
      line-height: 40px;
    }

    &-item {
      margin-right: 6px; 
  
      &-link {      
        width: 42px;
        height: 42px;
        flex: 0 0 42px;
        line-height: 40px;        	  
      }
    }
  
    &-dots {
      margin-right: 8px;	
      width: 42px;
    }
  }
}

@media(max-width: 576.99px) {
  .ui-title {
    font-size: 24px;
  }

  .ui-btns {
    flex-direction: column-reverse;
    align-self: flex-start;

    .ui-btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .ui-btn, .ui-btn.small {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    padding: 0 20px;

    &.blue {
      padding: 0 20px;

      img {
        display: none;
      }
    }
  }

  .white-block-list {
    margin: 0 -20px;
  }
}

@media(max-width: 400.99px) {
  .ui-charts {
    &-content {
      flex-direction: column-reverse;
      // align-items: center;
    }
  }

  .white-block {
    &-title {
      font-size: 20px;
    }
  }

  .pagination {
    font-size: 14px;

    &-next {
      height: 38px;
      line-height: 36px;
    }

    &-item {
      margin-right: 4px; 
  
      &-link {      
        width: 38px;
        height: 38px;
        flex: 0 0 38px;
        line-height: 36px;        	  
      }
    }
  
    &-dots {
      margin-right: 6px;	
      width: 30px;
    }
  }
}