.answer {
    &-navigation {
        display: flex;       
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 20px 40px;
        margin-bottom: 40px;
        gap: 24px;

        @media(max-width: 1366.99px) {
            padding: 20px 32px;
        }

        @media(max-width: 1024.99px) {
            padding: 20px 30px;
        }

        @media(max-width: 768.99px) {
            padding: 20px;
            justify-content: center;
        }

        &-next {
            @media(max-width: 768.99px) {
                order: -1;
            }
        }

        .ui-btn {
            width: 192px;
            padding-left: 0;
            padding-right: 0;
        }

        &-main {
            display: flex;
            align-items: center;           
        }

        &-title {
            position: relative;
            display: flex;
            flex-direction: column;  
            align-items: center; 
            font-weight: 500;
            font-size: 24px;
            line-height: 1.2;
            color: #253237;
            margin-left: 16px;
            margin-right: 16px;

            @media(max-width: 1366.99px) {
                font-size: 22px;
            }

            @media(max-width: 1024.99px) {
                font-size: 20px;
            }

            img {
                width: 56px;
                display: block;
                margin-bottom: 4px;

                @media(max-width: 1366.99px) {
                    width: 52px;
                }
    
                @media(max-width: 1024.99px) {
                    width: 48px;
                }
            }
        }

        &-status {
            position: absolute;
            top: calc(100% + 20px);
            left: 50%;
            transform: translateX(-50%);    
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom-right-radius: 3px;
            white-space: nowrap;

            @media(max-width:1440.99px) {
                font-size: 11px;
                padding: 4px 9px;
            }

            @media(max-width:1024.99px) {
                font-size: 10px;
                padding: 3px 8px;
            }

            &.ready {
                color: #fff;
                background-color: #21B14C;
            }

            &.review {
                color: #253237;
                background-color: #FAFF00;
            }

            &.not_submitted {
                color: #fff;
                background-color: #F90000;
            }

            &.feedback {
                color: #fff;
                background-color: #9747FF;
            }
        }
    }

    &-card {
        background-color: #fff;
        padding: 40px;
        margin-bottom: 40px;
        height: calc(100% - 40px);

        @media(max-width: 1366.99px) {
            padding: 32px;
        }

        @media(max-width: 1024.99px) {
            padding: 30px;
        }

        @media(max-width: 768.99px) {
            padding: 20px;
        }

        &-item {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #E4EDF2;

            @media(max-width: 1024.99px) {
                padding-bottom: 18px;
                margin-bottom: 18px;
            }

            @media(max-width: 768.99px) {
                padding-bottom: 16px;
                margin-bottom: 16px;
            }

            &:last-of-type {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }

            &-title {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 6px;

                @media(max-width: 1024.99px) {
                    font-size: 13px;
                }

                @media(max-width: 768.99px) {
                    font-size: 12px;
                    margin-bottom: 4px;
                }
            }

            &-content {              
                font-weight: 300;
                font-size: 16px;
                line-height: 1.3;

                @media(max-width: 1024.99px) {
                    font-size: 14px;
                }

                @media(max-width: 768.99px) {
                    font-size: 13px;
                }
            }
        }
    }

    &-buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        column-gap: 100px;
        row-gap: 20px;

        &-group {

            .ui-btn {
                @media(max-width: 768.99px) {
                    margin-bottom: 20px;
                }       
            }

            &-result {
                display: flex;
                max-width: 550px;

                @media(max-width: 768.99px) {
                    max-width: 100%;
                }
            }
        }
    }
}